.language-toggle {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: transform 0.2s ease;
   color: #e5e7eb;
}

.language-toggle:hover {
  transform: scale(1.1);
}
